{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>
</head>
<body>
    {% for cliente in clientes %}
        <p>Nome: {{cliente.nome}}</p>
        <p>Sobrenome: {{cliente.sobrenome}}</p>
        <a href="visualizar/{{cliente.id}}">Visualizar</a> / <a href="{{deletar/cliente.id}}">Deletar</a>
        <!-- <p>CPF: {{ cliente.cpf }}</p>
        <p>Telefone: {{ cliente.telefone }}</p> -->
        <hr>
    {% endfor %}
</body>
</html>