<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>

<body>
<header>
     <nav id="menu">
         <div class="row">
            <div class ="colunas-nav-direita">
                 <a class="btn btn-transparente-menu" href="home">WEB PET</a>
            </div>
            <div class ="colunas-nav-esquerda">
                <a class="btn btn-transparente-menu" href="home">HOME</a>
                <a class="btn btn-transparente-menu" href="index">CADASTRO</a>
                <a class="btn btn-transparente-menu"  href="social">SOCIAL</a>
                <a class="btn btn-transparente-menu"  href="criadores">CRIADORES</a>

            </div>
         </div>
     </nav>
  </header>

 <div class="div-cabecalho">
<div class="div-logo">
    <img class="logo-titulo" src="../../static/_imagens/nova-logo-mini.png" alt="Logo Mini">
 </div>
 <div class="div-titulo">
     <h1>Cadastro do Bichinho</h1>
 </div>
</div>

    <form action="create" method="POST">

        {%csrf_token%}
      <div class="formulario">
        <label for="nome">NOME</label> <!--for indica de qual tipo é o formulario-->
        <input id="nome" class="form-control" name="nome" type="text"/>

      </div>
      <div class="formulario">
         <label for="raca">RAÇA</label>
        <input id="raca" class="form-control" name="raca" type="text"/>
      </div>
       <div class="formulario">
          <label for="especie">ESPÉCIE</label>
          <input id="especie" class="form-control" name="especie" type="text"/>
      </div>

       <div class="formulario">
          <label for="peso">PESO</label>
          <input id="peso" class="form-control" name="peso" type="text"/>
       </div>

        <div class="formulario">
          <label for="dataNascimento">DATA NASCIMENTO</label>
          <input id="dataNascimento" class="form-control" name="dataNascimento" type="text"/>
        </div>

        <div class="formulario">
          <label for="donoPet">NOME DONO</label>
          <input id="donoPet" class="form-control" name="donoPet" type="text"/>
        </div>

       <div class="formulario">
           <label for="telefone">TELEFONE</label>
           <input id="telefone" class="form-control" name="telefone" type="text"/>
      </div>
       <div class="formulario">
           <label for="endereco">ENDEREÇO</label>
           <input id="endereco" class="form-control" name="endereco" type="text"/>
      </div>
    <div class="alinhamento-btn-create">
      <button type="submit" class="btn btn-azul">Enviar</button>
      <button type="reset" class="btn btn-limpar">Limpar</button>
      <a class="btn btn-limpar" href="/crud/index">Voltar</a> <!--Ao clicar em voltar vai ser redirecionado para a página principal-->

    </div>

</form>


</body>
</html>