<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>

<body>
<header>
     <nav id="menu">
         <div class="row">
            <div class ="colunas-nav-direita">
                 <a class="btn btn-transparente-menu" href="home">WEB PET</a>
            </div>
            <div class ="colunas-nav-esquerda">
                <a class="btn btn-transparente-menu" href="home">HOME</a>
                <a class="btn btn-transparente-menu" href="index">CADASTRO</a>
                <a class="btn btn-transparente-menu"  href="social">SOCIAL</a>
                <a class="btn btn-transparente-menu"  href="criadores">CRIADORES</a>

            </div>
         </div>
     </nav>
  </header>

<section id="home_inicio">
<div class="container-inicio">
    <h1 style="color: white;">Cuidamos do seu pet</h1>
    <h3 style="color: white;">Conheça a My Pets. Atendemos o seu bichinho com muito amor e cuidado.</h3>

</div>
</section>

<section id="home_sobre">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="../static/_imagens/pets.png" alt="Pets">
        </div>
        <div class="col-md-8">
            <h1 id="pet-home">Quem somos<img class="logo-mini" src="../static/_imagens/nova-logo-mini.png" alt="Logo Mini"></h1>
            <p>Somos uma clínica privada e oferecemos a mais completa estrutura de atendimento clínico, cirúrgico e de diagnóstico. Atendemos todos os dias, 24 horas por dia. Em casos de urgência e emergência, garantimos assistência em tempo integral para o seu animal de estimação.</p>
        </div>
    </div>
</div>
</section>

<div style="background-color: #666699;">
    <h1 class="text-album">Conheça os nossos espaços</h1>
<ul id="album-fotos">
    <li id="foto01"><span>Entrada</span></li>
    <li id="foto02"><span>Recepção</span></li>
    <li id="foto03"><span>Pet Shop</span></li>
    <li id="foto04"><span>Consultórios</span></li>
    <li id="foto05"><span>Banho e Tosa</span></li>
    <li id="foto06"><span>Salinha de Descanso</span></li>
</ul>
</div>

</body>
</html>