<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Pet</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>

<body>
 <header>
     <nav id="menu">
         <div class="row">
            <div class ="colunas-nav-direita">
                 <a class="btn btn-transparente-menu" href="home">WEB PET</a>
            </div>
            <div class ="colunas-nav-esquerda">
                <a class="btn btn-transparente-menu" href="home">HOME</a>
                <a class="btn btn-transparente-menu" href="index">CADASTRO</a>
                <a class="btn btn-transparente-menu"  href="social">SOCIAL</a>
                <a class="btn btn-transparente-menu"  href="criadores">CRIADORES</a>


            </div>
         </div>
     </nav>
  </header>

<div class="div-cabecalho">
<div class="div-logo">
    <img class="logo-titulo" src="../../static/_imagens/nova-logo-mini.png" alt="Logo Mini">
 </div>
 <div class="div-titulo">
     <h1>Cadastro do Bichinho</h1>
 </div>
</div>

<div id="list" class="row">
    <div class="table-principal table-linha-principal">
        <table class="table table-efeito-linha" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Raça</th>
                    <th>Espécie</th>
                    <th>Peso</th>
                    <th>Data Nascimento</th>
                    <th>Dono Animal</th>
                    <th>Telefone</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                 </tr>
            </thead>
            <tbody>
 {%for animals in animals %}
                <tr>
                    <td>{{animals.nome}}</td>
                    <td>{{animals.raca}}</td>
                    <td>{{animals.especie}}</td>
                    <td>{{animals.peso}}</td>
                    <td>{{animals.dataNascimento}}</td>
                    <td>{{animals.donoPet}}</td>
                    <td>{{animals.telefone}}</td>
                    <td>{{animals.endereco}}</td>
                    <td>
                        <a class="btn btn-visualizar" href="read/{{animals.id}}">Visualizar</a>
                        <a class="btn btn-editar" href="update_template/{{animals.id}}">Editar</a>
                        <a class="btn btn-excluir"  href="delete/{{animals.id}}" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                    </td>
                </tr>
 {%endfor %}
            </tbody>
         </table>
          <a class="btn btn-azul" href="create_template">Novo Bichinho</a>
        </div>

 </div>
</body>
</html>