<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pet Social</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %} "/>

<body>
<header>
     <nav id="menu">
         <div class="row">
            <div class ="colunas-nav-direita">
                 <a class="btn btn-transparente-menu" href="home">WEB PET</a>
            </div>
            <div class ="colunas-nav-esquerda">
                <a class="btn btn-transparente-menu" href="home">HOME</a>
                <a class="btn btn-transparente-menu" href="index">CADASTRO</a>
                <a class="btn btn-transparente-menu"  href="social">SOCIAL</a>
                <a class="btn btn-transparente-menu"  href="criadores">CRIADORES</a>

            </div>
         </div>
     </nav>
  </header>

    <section id="social_sobre">
        <div>
            <img id="capa-social" src="../static/_imagens/animal_capa.jpg" alt="Pets">
        </div>
        <div class="texto-social">
            <h1 id="pet-social">Pet Social<img class="logo-mini" src="../static/_imagens/nova-logo-mini.png" alt="Logo Mini"></h1>
            <p>Além de uma clínica privada, também somos um centro de apoio que ampara os animais sem donos. Através da nossa clínica você pode adotar um bichinho ou indicar alguém e ajudar essa causa.</p>
        </div>
</section>

<div class="card-deck card-deck-margin">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../../static/_imagens/cachorro1.jpg" alt="Imagem de capa do card">
  <div class="card-body">
    <h2 class="card-text">Toby</h2>
      <h4 class="card-text">Raça Indeterminada</h4>
      <h5 class="card-text">faleconosco@webpet.com.br
          <br/> <br/>
          <a class="btn btn-azul"  style="font-size: 20px" href="https://amparanimal.org.br/" target="_blank">ADOTE</a></h5>
  </div>
  </div>


    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../static/_imagens/cachorro2.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-text">Bob</h2>
          <h4 class="card-text">Raça Indeterminada</h4>
         <h5 class="card-text">faleconosco@webpet.com.br
          <br/> <br/>
          <a class="btn btn-azul"  style="font-size: 20px" href="https://amparanimal.org.br/" target="_blank">ADOTE</a></h5>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../static/_imagens/cachorro3.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-text">Joca</h2>
          <h4 class="card-text">Raça Indeterminada</h4>
          <h5 class="card-text">faleconosco@webpet.com.br
          <br/> <br/>
          <a class="btn btn-azul"  style="font-size: 20px" href="https://amparanimal.org.br/" target="_blank">ADOTE</a></h5>
      </div>
    </div>

   <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="../../static/_imagens/gato1.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h2 class="card-text">Chico</h2>
          <h4 class="card-text">Raça Indeterminada</h4>
          <h5 class="card-text">faleconosco@webpet.com.br
          <br/> <br/>
          <a class="btn btn-azul"  style="font-size: 20px" href="https://amparanimal.org.br/" target="_blank">ADOTE</a></h5>
      </div>
  </div>

</div>



</body>
</html>